
.cert-rentals {
  display: flex;
  justify-items: flex-start;
  width: 100%;
  max-width: 300px;
}

.rentals-input {
  border: 1px solid #E5E5E5 !important;
  padding-left: 12px !important;
}

.rental-list-item {
  display: flex;
  align-items: center;
  min-height: 69px;
  border: 1px solid #E5E5E5;
}

.cell {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 5px;
  width: 16.5%;
}

.rental-list-item:not(:last-of-type) {
  border-bottom: unset;
}

.pagination-wrapper {
  margin-top: 56px;
}

.rentals-input {
  background: transparent !important;
  border-radius: unset !important;
  padding: 18px 12px 20px 10px !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 21px !important;
  text-transform: uppercase !important;
}

.form-control::placeholder {
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 21px !important;
  text-transform: uppercase !important;
  color: #E5E5E5 !important;
}

.label-rentals {
  align-self: flex-start;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #454545;

  &-alone {
    margin-top: 25px;
  }
}


